<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% if layout == "post.njk" %}
        <link rel="stylesheet" href="/styles/blog.css">
    {% endif %}
</head>
<body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">
    {% include "navbar.njk" %}

<main class="flex-grow max-w-4xl mx-auto p-4 sm:p-6 w-full">
    {{ content | safe }}
</main>
    <script>
  const menuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu-dropdown');

  menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>

{% include "footer.njk" %}
</body>
</html>

