<footer class="bg-gray-100 text-gray-800 text-sm py-4 w-full border-t border-gray-300">
    <div class="max-w-4xl mx-auto flex flex-col sm:flex-row items-center justify-center text-center sm:text-left px-6 space-y-2 sm:space-y-0 sm:gap-8">
        <p>© 2025 Tymur Buiadzhi | Built with 
            <a href="https://www.11ty.dev/" class="text-blue-600 hover:text-blue-800 transition duration-200 underline">Eleventy</a>
        </p>
        <a href="/feed.xml" class="flex items-center space-x-2 text-gray-700 hover:text-gray-900 transition duration-200">
            <i class="fa-solid fa-rss text-orange-500 text-lg"></i>
            <span>RSS Feed</span>
        </a>
    </div>
</footer>
