---
title: "CV"
layout: "base.njk"
---
<section>
    <h1 class="text-3xl font-bold text-gray-800 mb-6">My CV</h1>
    <a href="/CV_Tymur_Buiadzhi_Project_Manager.pdf" download 
   class="bg-green-500 text-white px-2 py-1 rounded-lg shadow hover:bg-green-600 mb-4 inline-block">
    Download PDF
</a>

<iframe src="/CV_Tymur_Buiadzhi_Project_Manager.pdf" class="responsive-iframe"></iframe>

   

   <!-- Download Button <div class="mt-4">
        <a href="/CV_Tymur_Buiadzhi_Project_Manager.pdf" download class="bg-green-500 text-white px-6 py-3 rounded-lg shadow hover:bg-green-600">
            Download PDF
        </a>
    </div> -->
</section>

<!-- Move CSS to a <style> tag or an external stylesheet -->
<style>
    .responsive-iframe {
        width: 100%;
        height: 80vh; /* Adjusts to 80% of viewport height */
        border: none;
    }
</style>
